
	/*button page*/
.buttonPagecontainer{
	position: relative;
	top: 80%;
	margin: auto;
	width: 400px;
	padding: 10px;
	height: 50px;
	justify-content: center;
	z-index: 9999;
}

.buttonPagetitle{
	position: relative;
	text-align: center;
	top: 30%;
	right: 1%;
	width: 100%;
	z-index: 9999;
	height: 0px;
}


/*main page*/
.mainContainer{
	position: relative;
	height: 100vh;
	width: 100hv;
	display: block;
	flex-wrap: wrap;

}

@media only screen and (max-width: 1400px){
	.mainContainer{
		height: 1169px;

	}
}

.video{
	position:relative;
	display: flex;
	float: left;
	height: 480px;
	width: 850px;
	z-index: 100;
	width: 850; 
	height: 480;
	left:-20px; 
	top:-20px;
}

/*used to hold the video but also to add a "shadow"*/
.video-container{
	position:relative;
	display: flex;
	float: left;
	top: 155px;
	left: 75px;
	height: 480px;
	width: 850px;
	background: #2C2C34;
	z-index: 100;
	margin-right: 90px;
}

/*properties of elemetns to the right of video*/
.elementsRight{
	position: relative;
	float: right;
	height: 480px;
	width: 300px;
	background: #fdffb6;
	z-index: 100;
	left:-20px; 
	top:-20px;
}

#textToRight{
	font-size:17px; 
	margin-right: 30px; 
	margin-left: 30px;
}


.elementsRight-shadow{
	position:relative;
	float: right;
	top: 155px;
	right: 150px;
	height: 480px;
	width: 300px;
	background: #2C2C34;
	z-index: 100;
	margin-left: 100px;
}

.description{
	position: relative;
}


/*button css*/
.container{
	position: relative;
	top: -30px;
	left: 15px;
	padding: 10px;
}
.button {
	width: 80%;
	border-radius: 10px;
	height: 50px;
  background: #307473;
}
#button1{
	margin: 10px;

}
#button2{
	margin: 10px;
}

.buttonText{
	text-align: center; 
	vertical-align: middle; 
	line-height: 50px; 
	font-family: Bangers;
	letter-spacing: 2px;

}

#buttonPageButtonText{
	text-align: center; 
	vertical-align: middle; 
	line-height: 50px;  
	font-family: Bangers;
	letter-spacing: 2px;
	font-size: 20px;
}

#buttonPageButton{
	width: 400px; 
	background: #C47335;
}

a {
	display: block;
	width: 100%;
	line-height: 2em;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	color: rgb(225,  221,  191);
}
a:hover {
    color: black;
    background: #B796AC;
}

#buttonPageButton a:hover {
    color: black;
    background: #087E8B;
}
/*end button css*/

.emptySpace{
	height: 28px;

}

.titleOfTheVideo{
	position: relative;
	top: 100px;
	float: right;
	width: 58.3%;
	margin-right: 0;
	background-color: rgba(251,251,248, 0.3);
}

.nav{
	position: fixed;
	top: 0px;
	right: 0px;
	background-color: rgba(193, 226, 235, 0.6);
	height: 50px;
	width: 100%;
	z-index: 9999;
}

#NavBar
{
	color: lightblue; 
	margin-left: 55px;
}


.profile{
	border-radius: 150px;
	width: 250px; 
	height: 300px; 
	object-fit: cover;
	box-shadow: 10px 10px;
	margin-bottom: 5px;
}

.profile_box{
	position: relative;
	width: 20%;
	height: 350px;
	text-align: center;
	margin: 50px;
}

.profile_container{
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	background: #2C2C34;
}


.TeamsTitle{
/*	background: linear-gradient(to top ,lightcoral,transparent 70%);
*/}

.footerC{
	position:relative;
	display: flex;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #fdffb6;
	height: 50px;
	width: 100%;
	z-index: 9999;
}



/*eyes*/
.eye-wrapper {
  display: inline-block;
  z-index: -1;		/*to move the eyes behind everything else */
}

/*uses transition to allow the opacity to change in 0.3s*/
.eye-fade {
  vertical-align: top;
  transition: opacity 0.3s;
  opacity: 0;
}

/*allows the eye's opacity to turn to 1 when the hovered over*/
.eye-fade:hover {
  opacity: 1;
}


/*text properties*/
#title{
	font-size:80px; 
	margin: 0; 
	ont-weight: bold;
	font-family: Bangers;
	letter-spacing: 10px;
}
#teamTitle{
	font-size:50px; 
	margin: 0; 
	margin-top: 30px;
	font-family: Bangers;
	letter-spacing: 50px;
	text-align: center;
}
.profileName{
	font-weight: bold;
	font-family: Bangers;
	font-size: 30pt;
	margin: 0;
	text-shadow: 5px 2px #E0CA3C;
}

.profileInfo{
	color: whitesmoke;
}

#buttonPagetitleText{
	font-family:'Bangers', cursive; 
	font-size:190px; 
	text-shadow: 15px 2px #C47335;
}

p {
	font-family: 'Open Sans', sans-serif;
}
body{
    margin:0;
    padding:0;
    background: linear-gradient(lightblue,#2C2C34);
}

#buttonpageBody{
    margin:0;
    padding:0;
    background: lightblue;	
}



